
###> symfony/framework-bundle ###
/.env
/public/bundles/
/public/phpMyAdmin/
/node_modules/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
