<mjml>
  <mj-body background-color="#ffa000">
    <mj-section  padding="5px">
      <mj-column>
        <mj-text color ="#f4f4f4" align="center">
           <h1>
             From : {{name}}
           </h1>
         </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color ="#f4f4f4" padding ="0" border-radius ="13px 10px 10px 13px">
      <mj-column>
      <mj-text color ="#494949" font-size="14px" font-weight="600">
         <p>
           {{bodyMail}}
         </p>
       </mj-text>
     </mj-column>
    </mj-section>

  </mj-body>
</mjml>
